os:
  - linux

dist: trusty

language: node_js
node_js: 8

cache:
  directories:
    - ~/.npm
    - node_modules

install:
  - npm install

before_script:
  - npm start &

script:
  - npm start test/integration
